<!--======  CONTACT-WITH-FOOTER PART START ======-->
<section class="contact-with-footer-area contact-bg pt-100" id="contact">
  <div class="footer-bottom-area">
    <div class="container border-top">
      <div class="row">
        <div class="col-lg-6">
          <p>
            Najam, Security Consultant & Founder of Exfiltra<br />
            Built with Linux. Powered by open-source.
          </p>
        </div>
        <div class="col-lg-6">
          <ul class="footer-links">
            <li>
              <a
                href="mailto:najam@exfiltra.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Email"
                ><i class="fas fa-envelope"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/njmulsqb/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="LinkedIn"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@cybersoldiernjm"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="YouTube"
                ><i class="fab fa-youtube"></i
              ></a>
            </li>
            <li>
              <a
                href="https://infosec.exchange/@cybersoldier"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Mastodon"
                ><i class="fab fa-mastodon"></i
              ></a>
            </li>
            <li>
              <a
                href="https://pixelfed.social/shiningstar"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Pixelfed"
                ><i class="fas fa-images"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======  CONTACT-WITH-FOOTER PART END ======-->
