<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
  <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-area-content">
            <h1 class="hero-heading">
              Helping teams build and ship secure software with clarity and
              confidence.
            </h1>
            <p class="hero-para" style="margin-top: 20px; text-transform: none">
              I’m Najam — a security consultant, AppSec &amp; CloudSec
              practitioner, FOSS enthusiast, and founder of Exfiltra, a company
              focused on making application and cloud security headache-free for
              engineering teams.
            </p>

            <a href="#" class="btn hero-btn"
              >Get Started <i class="fa fa-arrow-right"></i
            ></a>
            <a
              href="https://youtu.be/LR8nbfDVqLM?si=pSqj7ONFaRWIlOtj"
              class="video-btn video-popup"
              aria-label="Watch video introduction"
              ><i class="fa fa-play" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-scrolli">
      <span><i class="fa fa-arrow-down"></i></span>
    </div>
  </div>
  <!-- <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-area-content">
            <h1 class="hero-heading">
              Helping teams build and ship secure software with clarity and
              confidence.
            </h1>
            <p class="hero-para" style="margin-top: 20px; text-transform: none">
              I’m Najam — a security consultant, AppSec &amp; CloudSec
              practitioner, FOSS enthusiast, and founder of Exfiltra, a company
              focused on making application and cloud security headache-free for
              engineering teams.
            </p>

            <a href="#" class="btn hero-btn"
              >get Started <i class="fa fa-arrow-right"></i
            ></a>
            <a href="#" class="video-btn video-popup"
              ><i class="fa fa-play"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-scrolli">
      <span><i class="fa fa-arrow-down"></i></span>
    </div>
  </div>
  <div class="single-hero-area hero-bg-3 bg_cover" data-scroll-area="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-area-content">
            <h1 class="hero-heading">
              Helping teams build and ship secure software with clarity and
              confidence.
            </h1>
            <p class="hero-para" style="margin-top: 20px; text-transform: none">
              I’m Najam — a security consultant, AppSec &amp; CloudSec
              practitioner, FOSS enthusiast, and founder of Exfiltra, a company
              focused on making application and cloud security headache-free for
              engineering teams.
            </p>

            <a href="#" class="btn hero-btn"
              >get Started <i class="fa fa-arrow-right"></i
            ></a>
            <a href="#" class="video-btn video-popup"
              ><i class="fa fa-play"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-scrolli">
      <span><i class="fa fa-arrow-down"></i></span>
    </div>
  </div> -->
</section>
<!--======  HERO PART END ======-->
