<ul>
    <li><a href="{{ '/#home' | relative_url }}" rel="noopener noreferrer">Home</a></li>
    <li class="{% if page.url == '/about/' %}current{% endif %}">
        <a href="{{ '/about/' | relative_url }}" rel="noopener noreferrer">About me</a>
    </li>
    <li><a href="{{ '/talks-and-training/' | relative_url }}" rel="noopener noreferrer">Talks</a></li>
    <li><a href="{{ '/wins/' | relative_url }}" rel="noopener noreferrer">My wins</a></li>
    <li>
      <a href="{{ '/blogs/' | relative_url }}" rel="noopener noreferrer">Blog</a>
    </li>
    <li class="nav-cta-item">
      <a href="{{ '/contact/' | relative_url }}" class="nav-cta-btn" rel="noopener noreferrer">Contact Me</a>
    </li>
  </ul>
