<ul>
    <li><a href="{{ '/#home' | relative_url }}" rel="noopener noreferrer">Home</a></li>
    <li><a href="{{ '/#services' | relative_url }}" rel="noopener noreferrer">Services</a></li>
    <li><a href="{{ '/#achievements' | relative_url }}" rel="noopener noreferrer">Achievements</a></li>
    <li class="{% if page.url == '/about/' %}current{% endif %}">
        <a href="{{ '/about' | relative_url }}" rel="noopener noreferrer">About</a>
    </li>
    <li>
      <a href="{{ '/blogs' | relative_url }}" rel="noopener noreferrer">Blogs</a>
    </li>
    <li>
      <a href="#" rel="noopener noreferrer">Pages <i class="fa fa-angle-down"></i></a>
      <ul class="submenu">
        <li><a href="{{ '/talks-training/' | relative_url }}" rel="noopener noreferrer">Talks & Training</a></li>
        <li><a href="{{ '/wins/' | relative_url }}" rel="noopener noreferrer">My wins</a></li>
      </ul>
    </li>
    <li class="nav-cta-item">
      <a href="{{ '/contact/' | relative_url }}" class="nav-cta-btn" rel="noopener noreferrer">Contact Us</a>
    </li>
  </ul>
