/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .top-header-content span {
        font-size: 12px;
    }
    .hero-area-content {
        padding-top: 300px;
        padding-bottom: 220px;
    }
    .top-header-social-links ul li a {
        font-size: 12px;
    }
    .main-menu ul li a {
        font-size: 14px;
        padding-right: 8px;
        margin-right: 8px;
    }
    .hero-para {
        font-size: 22px;
    }
    .btn {
        padding: 25px 40px;
    }
    .video-btn {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 15px;
    }
    .service-content h4 {
        font-size: 20px;
    }
    .section-title h1 {
        font-size: 32px;
    }
    .service-box-content h3 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .service-box-content p {
        margin-bottom: 15px;
    }
    .portfolio-overlay-content h2 {
        font-size: 22px;
    }
    .cta-title h1 {
        font-size: 50px;
    }
    .video-content {
        width: 50%;
    }
    .single-price-box h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .single-price-box p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .btn.price-btn {
        padding: 15px 30px;
        margin-top: 40px;
    }
    .single-price-box.active {
        height: auto;
    }
    .single-price-box.active:hover {
        transform: translateY(-5px);
    }
    .single-price-box:hover {
        transform: translateY(-5px);
    }
    .btn.price-btn:hover i {
        padding-left: 0;
    }
    .single-blog-content p.styled-para {
        font-size: 17px;
    }
    .pb-80 {
        padding-bottom: 30px;
    }
    .single-address-area span {
        font-size: 18px;
    }
    .absolute-price-num {
        left: 125px;
    }
    .counter-text p {
        font-size: 15px;
    }
    .breadcrumb-content {
        padding-top: 300px;
        padding-bottom: 180px;
    }
    .breadcrumb-content h1 {
        font-size: 70px;
    }
    .latest-blogs .single-blog-item-content h4 {
        font-size: 16px;
    }
    .latest-blogs .live-strem-content.extra-padding {
        padding: 70px 25px;
    }
    .single-blog-details-box h2 {
        font-size: 22px;
    }
    .absolute-bordered-heading {
        font-size: 16px;
    }
    .populer-tags .tag-heading {
        padding-right: 5px;
    }
    .tags li a {
        padding-right: 5px;
        font-size: 14px;
    }
    .tags-socials-icons {
        margin-top: -3px;
    }
    .tags-socials-icons li a {
        padding-left: 10px;
    }
    .colered-box-text span {
        font-size: 16px;
    }
    .comments-replay-btn {
        padding-left: 125px;
    }
    .news-box-content h5 {
        font-size: 16px;
    }
    .colored-box-btn.btn {
        padding: 20px 30px;
    }
    .absolute-colored-box-contetn h1 {
        font-size: 35px;
    }
    .section-title.contact-title span {
        left: 38px;
    }
}

 
/* Tablet desktop :768px. md */
@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 991px) {
    .scroll-to-top {
        left: 0px;
        right: auto;
        bottom: 20px;
        transform: none;
        -webkit-transform: none;
    }

    .top-header-area {
        display: none;
    }
    .main-menu {
	display: none;
    }
    .logo {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .header-search {
        padding-top: 0;
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    .bottom-header-area.sticky .header-search {
        padding-top: 0;
        padding-bottom: 0;
    }
    .btn {
        padding: 25px 40px;
    }
    .hero-area-content {
        padding-top: 230px;
        padding-bottom: 110px;
    }
    .hero-para {
        font-size: 20px;
    }
    .hero-para::before {
        height: 64px;
    }
    .hero-scrolli {
        bottom: 30px;
        width: 60px;
        height: 60px;
        border-width: 2px;
        border-radius: 50%;
    }
    .hero-scrolli span {
        font-size: 18px;
    }
    .service-content {
        margin-bottom: 70px;
    }
    .about-us-img {
        display: none;
    }.about-us-area .row {
        padding-top: 50px;
    }
    .single-service-box {
        margin-bottom: 30px;
    }
    .service-area .row.pb-30 {
        padding-bottom: 0;
    }
    .portfolio-area .text-right {
        text-align: left !important;
    }
    .single-portfolio-item img {
        width: 100%;
        margin-bottom: 30px;
        height: 400px;
    }
    .portfolio-overlay-content h2 {
        font-size: 18px;
    }
    .portfolio-overlay-content {
        bottom: 60px;
    }
    .pb-140 {
        padding-bottom: 100px;
    }
    .pt-140 {
        padding-top: 100px;
    }
    .cta-title h1 {
        font-size: 60px;
    }
    .video-content {
        position: relative;
        width: 100%;
        right: 0;
        bottom: 0;
    }
    .video-icon-area {
        padding: 100px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-counter-area .text-right {
        text-align: left !important;
    }
    .project-counter-area .col-lg-3.col-md-6,
    .project-counter-area .col-6 {
        margin-bottom: 30px;
    }
    .single-counter-item {
        padding: 25px 20px;
    }
    .counter-icon {
        font-size: 38px;
        margin-right: 15px;
    }
    .counter-text {
        padding-left: 15px;
    }
    .counter-text h1 {
        font-size: 36px;
    }
    .counter-text p {
        font-size: 13px;
    }
    .absolute-price-num {
        left: 323px;
    }
    .single-price-box {
        margin-bottom: 50px;
    }
    .single-blog-img img {
        width: 100%;
    }
    .blog-area .text-right {
        text-align: left !important;
    }
    .btn.blog-btn {
        margin-top: -100px;
    }
    .single-blog-area {
        margin-bottom: 50px;
    }
    .single-contact-field {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .single-address-area {
        margin-bottom: 25px;
    }
    .footer-links {
        text-align: left;
        margin-top: 30px;
    }
    .project-counter-area {
        padding-top: 75px;
        padding-bottom: 40px;
    }
    .breadcrumb-content {
        padding-top: 240px;
        padding-bottom: 110px;
    }
    .single-blog-item {
        margin-bottom: 30px;
    }
    .breadcrumb-content h1 {
        font-size: 60px;
    }
    .comments-body {
        padding-left: 125px;
    }
    .single-blog-details-box, .absolute-bordered-heading, .populer-tags, .colered-box-text, .comments-section, .contact-form-area {
        margin-right: 0;
    }
    .blog-details-search {
        margin-top: 50px;
    }
    .single-news-box {
        margin-bottom: 30px;
        padding-bottom: 50px;
    }
    .absolute-colored-box-contetn p {
        padding: 0 193px;
    }
    .section-title.contact-title span {
        left: 152px;
    }
    .pb-80 {
        padding-bottom: 40px;
    }
    .testimonial-area img {
        margin-left: 0;
    }
    .section-title.blog-title {
        margin-bottom: 60px;
    }
    .blog-colered-box-bg img {
        width: 100%;
    }
    .portfolio-overlay-content {
        padding: 15px;
    }
    .portfolio-icon {
        right: 10px;
    }
    .single-portfolio-item {
        max-height: 300px;
    }
    .portfolio-overlay-content {
        bottom: 10px;
    }
/* removed old mobile-menu-wrap and slicknav styles */
}
 
 
/* small mobile :320px. */
@media (max-width: 767px) {
    .counter-area {
        margin-top: 30px;
    }
    .header-search {
        display: flex;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        z-index: 1005;
    }
    .search-btn i {
        font-size: 20px;
    }
    .hero-carousel-active .slick-dots {
        right: 20px;
    }
    .bottom-header-area.sticky .logo {
        padding-top: 14px;
        padding-bottom: 15px;
    }
    .hero-para {
        font-size: 16px;
        line-height: 25px;
    }
    .hero-para::before {
        height: 50px;
    }
    .hero-area-menu ul li a {
        font-size: 12px;
        margin-right: 10px;
        padding-right: 15px;
    }
    .hero-area-menu ul li a::before {
        width: 5px;
        height: 5px;
    }
    .btn {
        padding: 20px 30px;
        font-size: 10px;
    }
    .video-btn {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
    .section-title h1 {
        font-size: 25px;
    }
    .about-us-text p {
        margin-left: 70px;
    }
    .single-service-icon-box {
        margin-bottom: 30px;
    }
    .service-box-content {
        padding-left: 0;
    }
    .single-service-box {
        flex-direction: column;
        height: auto;
        min-height: 280px;
    }
    .section-title.service-title span {
        left: 8%;
    }
    .cta-title h1 {
        font-size: 40px;
    }
    .team-carousel-active .slick-dots {
        left: 35%;
    }
    .video-content h1 {
        font-size: 40px;
    }
    .autohor-details {
        margin-top: 80px;
    }
    .single-testimonial-content {
        padding: 0 40px;
    }
    .textimonial-carousel-active .slick-arrow {
        top: auto;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
    }
    .textimonial-carousel-active .slick-arrow.prev {
        margin-left: -35px;
        left: 50%;
    }
    .textimonial-carousel-active .slick-arrow.next {
        margin-left: 35px;
        left: 50%;
        right: auto;
    }
    .testimonial-area {
        padding-bottom: 120px;
    }
    .absolute-price-num {
        left: 153px;
    }
    .section-title.contact-title span {
        left: 5px;
    }
    .hero-area-content {
        padding-top: 100px;
    }
    .single-testimonial-content p {
        font-size: 18px;
    }
    .footer-bottom-area p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .single-portfolio-item {
        margin-bottom: 30px;
    }
    .breadcrumb-content {
        padding-top: 140px;
        padding-bottom: 110px;
    }
    .breadcrumb-content h1 {
        font-size: 41px;
        margin-bottom: 20px;
    }
    .breadcrumb-content p {
        font-size: 18px;
        color: #fff;
    }
    .single-blog-details-box ul {
        float: none;
        margin-left: -12px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .single-blog-details-box h2 {
        font-size: 18px;
    }
    .absolute-bordered-heading {
        font-size: 16px;
    }
    .tags {
        float: none;
    }
    .tags-socials-icons {
        float: none;
        margin-top: 19px;
    }
    .colered-box-text {
        display: block;
        margin-bottom: 40px;
    }
    .colered-box-text span {
        width: 100%;
        padding: 20px;
        font-size: 18px;
    }
    .author-img {
        float: none;
    }
    .comments-body {
        padding-left: 0;
    }
    .single-comments-box {
        margin: 50px 0;
    }
    .blog-details-search i {
        right: 20px;
    }
    .absolute-colored-box-contetn h1 {
        font-size: 30px;
    }
    .absolute-colored-box-contetn p {
        padding: 0 40px;
    }
    
    .bottom-header-area.sticky  .mobile-nav-toggle {
        margin-top: 0;
    }
    #portfolio .pb-30 {
        padding-bottom: 0;
    }

}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}

}

/* small Mobile :479px. */
@media (max-width: 479px){
    .single-address-area span {
        font-size: 16px;
    }
    .counter-area {
        margin-top: 30px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .counter-area [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
    }
    .single-counter-item {
        padding: 20px 10px;
        border-radius: 15px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: flex;
        width: 100%;
    }
    .counter-icon {
        font-size: 30px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .counter-text {
        padding-left: 0;
        border-left: none;
        border-top: 2px solid #f26c4f;
        padding-top: 10px;
        width: 100%;
    }
    .counter-text h1 {
        font-size: 24px;
    }
    .counter-text p {
        font-size: 10px;
        margin-bottom: 0;
    }
}
