{{@import "font-awesome-sprockets";}}
{{@import "font-awesome";}}


<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/styles/customFile.css" />
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <!-- <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a> -->
          <!-- <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>GitHub</a> -->
          <a href="https://www.twitter.com/njmulsqb" title="Twitter"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
          <a href="https://www.github.com/njmulsqb" title="Github"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/njmulsqb" title="linkedin"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>

        </section>
        <a href="/"><button type="button" class="btn btn-outline-secondary" style="margin-bottom: 10px">home</button></a>
        <a href="blog"><button type="button" class="btn btn-outline-secondary" style="margin-bottom: 10px">blog</button></a>
        <a href="disclosures"><button type="button" class="btn btn-outline-secondary" style="margin-bottom: 10px">disclosures</button></a>
        <a href="resume"><button type="button" class="btn btn-outline-secondary" style="margin-bottom: 10px">resume</button></a>

      </div>

      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="njmulsqb" data-color="#BD5FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" style="float: right" ></script>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
